[MASTER]
load-plugins=pylint.extensions.typing

[MESSAGES CONTROL]
disable=C0111,C0103,R0903,W0511

[FORMAT]
max-line-length=88

[TYPECHECK]
generated-members=numpy.*, torch.*
ignore-mixin-members=yes

[TYPING]
py-version=3.11
runtime-typing=yes

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[BASIC]
good-names=i,j,k,ex,Run,_,fp,id,T,x,y,z,f,N

[VARIABLES]
init-import=yes
dummy-variables-rgx=_$|dummy

[SIMILARITIES]
min-similarity-lines=6

[IMPORTS]
known-third-party=numpy,torch,fastapi,pydantic,pytest,aiohttp

[CLASSES]
valid-metaclass-classmethod-first-arg=cls

[EXCEPTIONS]
overgeneral-exceptions=Exception